<div class="row">
  <div class="status col-sm-3">
    <img src="images/icons/element_physical.png">
    <b>물리</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('physical', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_pleasure.png">
    <b>쾌락</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('pleasure', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_fire.png">
    <b>화염</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('fire', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_ice.png">
    <b>얼음</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('ice', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_lightning.png">
    <b>번개</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('lightning', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_wind.png">
    <b>바람</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('wind', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_earth.png">
    <b>흙</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('earth', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_water.png">
    <b>물</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('water', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_holy.png">
    <b>신성</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('holy', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_dark.png">
    <b>어둠</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('dark', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_bio.png">
    <b>바이오</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('bio', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_sonic.png">
    <b>음파</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('sonic', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/element_special.png">
    <b>자폭 / 돈 던지기</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateElementResist('special', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <!--잉여 공간-->
  </div>
  <div class="status col-sm-3">
    <!--잉여 공간-->
  </div>
</div>