<div class="row">
  <div class="status col-sm-3">
    <img src="images/icons/state_death.png">
    <b>즉사</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('death', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_ascension.png">
    <b>승천</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('ascension', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_climax.png">
    <b>절정</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('climax', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_bind.png">
    <b>구속</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('bind', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_poison.png">
    <b>독</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('poison', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_blind.png">
    <b>눈멈</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('blind', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_silence.png">
    <b>침묵</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('silence', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_confusion.png">
    <b>혼란</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('confusion', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_sleep.png">
    <b>수면</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('sleep', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_paralysis.png">
    <b>마비</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('paralysis', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_burn.png">
    <b>번</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('burn', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_freeze.png">
    <b>프리즈</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('freeze', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_shock.png">
    <b>쇼크</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('shock', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_slow.png">
    <b>슬로우</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('slow', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_stop.png">
    <b>스톱</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('stop', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_mini.png">
    <b>미니멈</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('mini', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_zombie.png">
    <b>좀비</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('zombie', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_petrify.png">
    <b>석화</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('petrify', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_digest.png">
    <b>소화</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('digest', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_stun.png">
    <b>스턴</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('stun', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_slime.png">
    <b>미끈미끈</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('slime', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_horny.png">
    <b>민감</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('horny', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_trance.png">
    <b>황홀</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('trance', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_seduction.png">
    <b>유혹</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('seduction', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <img src="images/icons/state_incontinence.png">
    <b>실금</b>
  </div>
  <div class="status col-sm-3">
    {{ calculateService.calculateStateResist('incontinence', {actor: actor, job: job, race: race}) }}%
  </div>
  <div class="status col-sm-3">
    <!--잉여 공간-->
  </div>
  <div class="status col-sm-3">
    <!--잉여 공간-->
  </div>
</div>