<ng-container *ngFor="let item of weaponTypes">
  <span [ngClass]="{'label-info': dataService.weaponFilter.length !== 0 && dataService.weaponFilter.includes(item), 'label-light-blue': dataService.weaponFilter.length !== 0 && dataService.weaponFilter.includes(item)}"
    class="label clickable" style="cursor: pointer" (click)="addFilter(item)">
    {{ item }}
  </span>
</ng-container>
<clr-datagrid>
  <clr-dg-column [clrDgSortBy]="weaponComparators.nameComparator">이름
    <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgSortBy]="weaponComparators.typeComparator">분류
    <clr-dg-string-filter [clrDgStringFilter]="typeFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgSortBy]="weaponComparators.atkComparator">공격력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="weaponComparators.defComparator">방어력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="weaponComparators.matComparator">마력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="weaponComparators.mdfComparator">정신력</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="weaponComparators.agiComparator">민첩성</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="weaponComparators.lukComparator">손재주</clr-dg-column>

  <clr-dg-row *clrDgItems="let weapon of weaponList">
    <clr-dg-cell style="padding: 5px; cursor: pointer" (click)="viewDetail(weapon)">
      <img src="images/icons/iconset.png" [ngStyle]="calculateStyle(weapon.icon)"> {{ weapon.name }}
    </clr-dg-cell>
    <clr-dg-cell style="cursor: pointer" (click)="viewDetail(weapon)">{{ weaponType[weapon.type] }}</clr-dg-cell>
    <ng-container *ngFor="let item of columns">
      <clr-dg-cell style="cursor: pointer" (click)="viewDetail(weapon)">{{ weapon[item] }}</clr-dg-cell>
    </ng-container>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.totalItems}}개 무기 중 {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}번째
    <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>